/* .green-txt {
  color: #22b573;
}

.blue-txt {
  color: #0574bd;
}

.dark-blue-txt {
  color: #004a7b;
}

.navigation {
  background: #ffffff;
  left: 0px;
  padding: 20px;
  position: relative;
}

.navigation .burger-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  right: 0px;
  margin: 0px 20px;
}

.navigation .burger-icon span {
  display: block;
  padding: 2px;
  margin-bottom: 5px;
  background: #22b573;
  border-radius: 2px;
} */