body {
    &.overflow {
        overflow: hidden;
    }
    -webkit-transition: color 1.5s ease-in;
    transition: color 1.5s ease-in;
}

.container {
    max-width: 1366px;
    margin: 0px auto;

    @media only screen and (max-width: 420px) {
        // max-width:400px;
    }
}

::selection {
    background: $clr-primary;
    color: #ffffff;
}
