.event-wrapper .thumb-img a {
    transition: all 0.3s ease-out 0s;
    background: #1e599f;
    display: block;
}

.event-wrapper .thumb-img a:hover {
    transition: all 0.3s ease-out 0s;
    background: #1e599f;
    opacity: 0.8;
}


.event-heading {
    padding: 15px 5px;
    font-weight: normal;
}

.event-img {
    padding: 15px 5px;
}

.event-detail {
    padding: 15px 5px;
}

.event-discription {
    padding: 15px 5px;
}

.event-register {
    padding: 50px 0px;
}

.event-register .btn {
    background: #1992bf;
}

.event-form,
.contact-form {
    padding: 50px 0px;
}

.form-group.event-register .btn {
    background: #1e599f;
}

.form-group.event-register .btn:hover {
    color: #ffffff;
    background: #1992bf;
    border: 1px solid #1992bf;
}

.event-form .form-control,
.contact-form .form-control,
.openday-form .form-control {
   /* border: 0px solid #1e599f;
    background: #eaeaea;*/
}

.required {
    color: red;
}